@import url(presets.css);
@import url(animations.css);

body {
  background-color: var(--backgroundPage);
  overflow-x: hidden;
}

#content-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#content-container {
  width: 60vw;
  margin: 0 auto;
}

/* * {border: 1px solid red;} */

.flex-image-wrapper-center {
  /* border: 1px solid cyan; */
  text-align: center;
  flex-grow: 1;
}
.flex-image-wrapper-right {
  /* border: 1px solid blue; */
  text-align: right;
  flex-grow: 1;
}
.flex-image-wrapper-left {
  /* border: 1px solid green; */
  text-align: left;
  flex-grow: 1;
}

/* NAVIGATION */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

nav {
  display: flex;
  width: auto;
  height: 80px;
  align-items: center;
  gap: 110px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  color: var(--textPrimary);
  font-size: 15px;
  font-weight: 400;
}

/* HERO section */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

#landing-section {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#landing-section .left {
  width: fit-content;
}

#ls-image {
  height: clamp(380px, 390px, 430px);
}

#title-logo {
  position: relative;
}

#title-logo img {
  height: clamp(45px, 50px, 55px);
  position: absolute;
  top: 0;
}

#landing-section p {
  width: 650px;
  max-width: 100%;
  margin-top: 3vh;
}

#scroll-indicator {
  height: 18px;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollbounce 2s infinite;
}

/* COMMON SECTION STYLES */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.section-base {
  margin-top: var(--mainGap);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.section-base .flex-image-wrapper > img {
  height: clamp(380px, 390px, 430px);
}

.section-content {
  gap: var(--secondaryGap);
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 100%;
  justify-content: center;
}

.section-right {
  text-align: right;
}

.section-right .flex-image-wrapper > img {
  height: clamp(420px, 450px, 480px);
}

/* SECTION 1 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

#s-the-basics {
  flex-direction: column;
  gap: 5vh;
}

#s-the-basics .top {
  display: flex;
  flex-direction: column;
  gap: var(--secondaryGap);
  width: 700px;
  max-width: 100%;
  align-self: start;
}

#s-the-basics #cards {
  display: inline-flex;
  justify-content: center;
  gap: 5vw;
}

#s-the-basics #cards p {
  font-size: 14px;
}

#s-the-basics .card {
  width: 260px;
  background-color: var(--backgroundContent);
  border: 1px solid var(--borderPrimary);
  border-radius: 50px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

#s-the-basics .card .card-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* SECTION 5 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

#start-using {
  text-align: center;
}

#start-using .container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#start-using p {
  width: 100%;
}

#start-using > img {
  flex: 0 0 auto;
  width: auto;
  aspect-ratio: 1/1;
  max-width: 100%;
}

.download-apps {
  flex-direction: row;
  gap: 24px;
  padding-top: 15px;
}

.download-apps img {
  height: 40px;
}

/* FOOTER */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

footer {
  margin-top: var(--mainGap);
  display: inline-flex;
  width: 100%;
  margin-bottom: 70px;
}

footer .img {
  width: 20%;
  display: flex;
}
footer .img > svg {
  width: 100%;
  margin: auto;
}

footer .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

footer .text .links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-evenly;
}

.directory {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.directory > p {
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--textPrimary);
}

.directory > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 0;
}

.directory > ul li a {
  color: var(--textSecondary);
}

.directory > a {
  display: flex; 
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.directory > a > img {
  max-width: 100%;
  height: auto;
  max-height: 50px;
}

#copyright span,
#copyright span a {
  font-size: .85rem;
  color: var(--textSecondary);
}
#copyright span a { font-weight: 500; }
#copyright span a:hover { opacity: .75; }
#copyright strong {
  font-weight: 500;
}
#copyright p { font-size: .9rem; }

/* GLOW EFFECT */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.glow {
  position: absolute;
  z-index: -10;
}

.glow-1 {
  top: -480px;
  left: -100px;
}

.glow-2 {
  top: 100px;
  right: -480px;
}

.glow-3 {
  top: 60vh;
  left: -400px;
}

.glow-4 {
  top: calc(100vh + 700px);
  right: -500px;
}

.glow-5 {
  top: calc(100vh + 1250px);
  left: -500px;
}

.glow-6 {
  top: calc(100vh + 1830px);
  right: -500px;
}