@import url(presets.css);

body {
  background-color: var(--backgroundPage);
}

/* NAVIGATION */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

nav {
  display: flex;
  width: auto;
  height: 80px;
  align-items: center;
  gap: 110px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  color: var(--textPrimary);
  font-size: 15px;
  font-weight: 400;
}

/* HERO section */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.landing-section {
  /* height: calc(100vh - 80px); */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
}

.ls-left {
  width: fit-content;
}

#ls-image {
  height: clamp(380px, 390px, 430px);
}

.title-logo {
  position: relative;
}

.title-logo img {
  height: clamp(45px, 50px, 55px);
  position: absolute;
  top: 0;
}

.landing-section h4 {
  width: 600px;
  margin-top: 5vh;
}

#scroll-indicator {
  height: 18px;
  position: absolute;
  top: 93vh;
}

/* SECTION 1 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */
