@import url(presets.css);

body {
  background-color: var(--backgroundPage);
}

/* NAVIGATION */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

nav {
  display: flex;
  width: auto;
  height: 80px;
  align-items: center;
  gap: 110px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  color: var(--textPrimary);
  font-size: 15px;
  font-weight: 400;
}

/* HERO section */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.landing-section {
  /* height: calc(100vh - 80px); */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
}

.ls-left {
  width: fit-content;
}

#ls-image {
  height: clamp(380px, 390px, 430px);
}

.title-logo {
  position: relative;
}

.title-logo img {
  height: clamp(45px, 50px, 55px);
  position: absolute;
  top: 0;
}

.landing-section h4 {
  width: 600px;
  margin-top: 5vh;
}

#scroll-indicator {
  height: 18px;
  position: absolute;
  top: 93vh;
}

/* SECTION 1 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: var(--mainGap);
}
.s1-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;
  margin-left: 15vw;
}

.s1-bottom {
  display: flex;
  gap: 5vw;
  justify-content: center;
}

.s1-bottom p {
  font-size: 14px;
}

/* content container */
.right-container,
.left-container {
  width: 260px;
  background-color: var(--backgroundContent);
  border-radius: 50px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.con-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Section 2 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */
.section-2 {
  margin-top: var(--mainGap);
  text-align: right;
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.s2-right {
  gap: var(--secondaryGap);
  display: flex;
  flex-direction: column;
  width: 700px;
  justify-content: center;
}

.section-2 img {
  height: clamp(380px, 390px, 430px);
}

/* Section 3 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.section-3 {
  margin-top: var(--mainGap);
  display: flex;
  justify-content: center;
  gap: 4vw;
}

.s3-left {
  gap: var(--secondaryGap);
  display: flex;
  flex-direction: column;
  width: 700px;
  justify-content: center;
}

.section-3 img {
  height: clamp(380px, 390px, 430px);
}

/* Section 4 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.section-4 {
  margin-top: var(--mainGap);
  display: flex;
  justify-content: center;
  gap: 4vw;
  text-align: right;
}

.s4-right {
  gap: var(--secondaryGap);
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
}

.section-4 img {
  height: clamp(420px, 450px, 480px);
}

/* Section 5 */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

.section-5 {
  margin-top: var(--mainGap);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0 20vw;
  text-align: center;
}

.section-5 img {
  flex: 0 0 auto;
  height: auto;
  width: auto;
  max-width: 100%;
}

.download-apps {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-top: 15px;
}

.download-apps img {
  height: 40px;
}

/* footer */
/* ▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰▰ */

footer {
  margin-top: var(--mainGap);
}
